<div class="page-header">
  <h1>Meeting #<%= @meeting.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Held on</dt>
  <dd><%= @meeting.held_on %></dd>

  <dt>Course</dt>
  <dd><%= "#{Course.find_by(:id => @meeting.course_id).department} #{ Course.find_by(:id => @meeting.course_id).number} #{Course.find_by(:id => @meeting.course_id).title}"%>
  </dd>

    <dt>Students Attended</dt>
  <dd><%= "#{Student.find_by(:id => Attendance.find_by(:meeting_id => params[:id]).student_id).first_name} #{Student.find_by(:id => Attendance.find_by(:meeting_id => params[:id]).student_id).last_name}"%>
  </dd>

</dl>
