<div class="page-header">
  <h1>Attendance #<%= @attendance.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Meeting</dt>
  <dd><%= Meeting.find_by(:id => @attendance.meeting_id).held_on%>
  </dd>

  <dt>Student</dt>
  <dd><%= "#{Student.find_by(:id => @attendance.student_id).first_name} #{Student.find_by(:id => @attendance.student_id).last_name}"%>
  </dd>

</dl>
